.admin{
    margin: 5%;
    width: auto;
    height: auto;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
}

.admin .parent{
    display:flex;
    height: auto;
}

.admin .sec-prods{
    flex: 3;
    height:100%;
}

.admin .sec-coupons {
    flex: 2;
    height: 100%;
    margin: .3%;
}

.admin .form{
    text-align: left;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    padding:15px 25px;
    background-color: white;
    margin: 2%;
}

.admin h3{
    text-align: center;
}

.admin .admin-prod{
    display:flex;
    margin:8px 0;
    padding: 3px 7px;
    border:  1px solid #aeaeae;
    border-radius: 3px;
    background-color: white;
    align-items: center;
}

.admin .admin-prod img{
    height:60px;
    max-width: 80px;
}

.admin .admin-prod .title{
    flex: 3;
    margin: 0;
}

.admin .admin-prod .price{
    flex: 1;
    margin: 0;
}
